<!doctype html>
<html dir="ltr" lang="en" xml:lang="en">
  <head>
    <title>Log in to the site | LEARNING MANAGEMENT SYSTEM</title>
    <link
      rel="shortcut icon"
      href="https://lms.laverdad.edu.ph/pluginfile.php/1/theme_trema/favicon/1760791385/LVCC%20LOGO-NEW%20a.png"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://lms.laverdad.edu.ph/theme/yui_combo.php?rollup/3.18.1/yui-moodlesimple-min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://lms.laverdad.edu.ph/theme/styles.php/trema/1760791385_1712993715/all"
    />
  </head>

  <body
    id="page-login-index"
    class="format-site not_siteadmin path-login chrome dir-ltr lang-en yui-skin-sam yui3-skin-sam lms-laverdad-edu-ph pagelayout-login course-1 context-1 notloggedin theme style-none"
  >
    <div id="page-wrapper">
      <div id="page" class="container-fluid pt-5 mt-0">
        <div id="page-content" class="row">
          <div id="region-main-box" class="col-12">
            <section id="region-main" class="col-12 h-100" aria-label="Content">
              <div class="login-wrapper">
                <div class="login-container">
                  <div role="main">
                    <span id="maincontent"></span>
                    <div class="loginform">
                      <div class="login-languagemenu">
                        <div class="action-menu moodle-actionmenu">
                          <div class="menubar d-flex">
                            <div class="action-menu-trigger">
                              <div class="dropdown">
                                <a
                                  href="#"
                                  class="dropdown-toggle icon-no-margin"
                                  >English ‎(en)‎ <b class="caret"></b
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="loginlogo" class="login-logo">
                        <img
                          id="logoimage"
                          src="https://lms.laverdad.edu.ph/pluginfile.php/1/core_admin/logo/0x200/1760791385/lvcc_logo.png"
                          class="img-fluid login-heading"
                          alt=""
                        />
                        <h1 class="login-heading sr-only">
                          LVCC LEARNING MANAGEMENT SYSTEM
                        </h1>
                      </div>

                      <form
                        class="login-form"
                        action="/track/login"
                        method="post"
                        id="login"
                        novalidate
                      >
                        <div class="login-divider"></div>
                        <h2 class="login-heading">Log in</h2>

                        <input type="hidden" name="token" value="{{ token }}" />

                        {% if error %}
                        <a href="#" id="loginerrormessage" class="sr-only"
                          >{{ error }}</a
                        >
                        <div class="alert alert-danger" role="alert">
                          {{ error }}
                        </div>
                        {% endif %}

                        <div class="login-form-username form-group">
                          <label for="username" class="sr-only"
                            >Username or email</label
                          >
                          <input
                            type="text"
                            name="username"
                            id="username"
                            class="form-control form-control-lg"
                            value=""
                            placeholder="Username or email"
                            autocomplete="username"
                          />
                        </div>
                        <div class="login-form-password form-group">
                          <label for="password" class="sr-only">Password</label>
                          <input
                            type="password"
                            name="password"
                            id="password"
                            value=""
                            class="form-control form-control-lg"
                            placeholder="Password"
                            autocomplete="current-password"
                          />
                        </div>
                        <div class="login-form-submit form-group">
                          <button
                            class="btn btn-primary col-12 col-md-6 col-lg-auto"
                            type="submit"
                            id="loginbtn"
                          >
                            Log in
                          </button>
                        </div>
                        <div class="login-form-forgotpassword form-group">
                          <a href="#">Lost password?</a>
                        </div>
                      </form>

                      <div class="login-divider"></div>

                      <div class="login-identityproviders">
                        <h2 class="login-heading">
                          Log in using your account on:
                        </h2>
                        <a
                          class="btn login-identityprovider-btn col-12 col-md-6 col-lg-auto"
                          href="/track/login/google?token={{ token }}"
                        >
                          <img
                            src="https://accounts.google.com/favicon.ico"
                            alt=""
                            width="24"
                            height="24"
                          />
                          Google
                        </a>
                      </div>

                      <div class="login-divider"></div>
                      <button
                        role="link"
                        class="btn btn-link btn-cookie col-12 col-md-6 col-lg-auto p-0 m-0"
                      >
                        Cookies notice
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <footer id="page-footer" class="footer-popover bg-white">
        <div class="footer-content-popover container">
          <div class="footer-section p-3 border-bottom">
            <div class="logininfo">You are not logged in.</div>
            <div class="tool_dataprivacy">
              <a href="#">Data retention summary</a>
            </div>
          </div>
          <div class="footer-section p-3">
            <div>Powered by <a href="https://moodle.com">Moodle</a></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
